/* line 15, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 11, ../sass/style.sass */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 15, ../sass/style.sass */
.cf:after {
  clear: both;
}

/* line 19, ../sass/style.sass */
body {
  background-color: rgba(102, 102, 102, 0.15);
  text-align: center;
}

/* line 23, ../sass/style.sass */
#topBar {
  height: 45px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  text-align: left;
  font-size: 2em;
  font-family: helvetica;
}
/* line 33, ../sass/style.sass */
#topBar #about {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  color: red;
}
/* line 39, ../sass/style.sass */
#topBar div {
  float: left;
  vertical-align: bottom;
  position: relative;
  height: 45px;
  text-align: center;
  cursor: pointer;
  margin: 0;
  color: #666666;
  font-size: 0.5em;
  box-sizing: border-box;
  padding: 0.4em 2.25em;
  border-right: 1px #999999 dotted;
  border-left: 1px #999999 dotted;
  background-color: transparent;
}
/* line 54, ../sass/style.sass */
#topBar div:hover {
  background-color: #dddddd;
}
/* line 57, ../sass/style.sass */
#topBar div a {
  color: #666666;
  text-decoration: none;
  font-size: 12px;
  display: inline;
  display: none;
}
/* line 63, ../sass/style.sass */
#topBar div a:hover {
  text-decoration: underline;
}
/* line 65, ../sass/style.sass */
#topBar div span {
  position: relative;
  padding-top: 10px;
  display: block;
  vertical-align: baseline;
}
/* line 71, ../sass/style.sass */
#topBar h1 {
  padding: 0.25em;
  display: inline-block;
  float: left;
  cursor: pointer;
  color: red;
  font-family: baskerville;
}

/* line 82, ../sass/style.sass */
#wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 2421px;
}

/* line 90, ../sass/style.sass */
.column {
  width: 420px;
  list-style-type: none;
  margin: 0 15px;
  float: left;
  /*background-color: black; */
  /*height: 500px; */
}
/* line 100, ../sass/style.sass */
.column .sticky-wrapper {
  display: inline-block;
  width: 420px;
}
/* line 103, ../sass/style.sass */
.column .inputBox {
  box-shadow: 1px 1px 6px #b0aaa5;
  border-radius: 3px;
  margin: 10px 0;
  z-index: 1;
  top: 0;
  background-color: white;
}
/* line 110, ../sass/style.sass */
.column .inputBox input {
  font-size: 3em;
  width: 372px;
  margin: 0;
  float: right;
}
/* line 115, ../sass/style.sass */
.column .inputBox span.r {
  font-size: 3em;
  padding: 6px;
  float: left;
}
/* line 120, ../sass/style.sass */
.column .stuck {
  position: fixed;
  opacity: 0.7;
}
/* line 124, ../sass/style.sass */
.column .stuck:hover {
  opacity: 1;
}
/* line 126, ../sass/style.sass */
.column .stack {
  transition: all 900ms ease-out;
  -webkit-transition: all 900ms ease-out;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(1500px);
  -moz-transform: translateY(1500px);
  transform: translateY(1500px);
}
/* line 135, ../sass/style.sass */
.column .launch {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  transition: all 1500ms ease-out;
  opacity: 1;
}
/* line 142, ../sass/style.sass */
.column #title {
  text-decoration: none;
  color: #666666;
  font-size: 2em;
  background-color: white;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1;
}
/* line 157, ../sass/style.sass */
.column #title:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* line 161, ../sass/style.sass */
.article {
  transition: all 850ms ease-out;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  margin: 20px 0;
  color: #666666;
  word-wrap: break-word;
  position: relative;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 1px 1px 6px #b0aaa5;
}
/* line 173, ../sass/style.sass */
.article img {
  width: 100%;
}

/* line 175, ../sass/style.sass */
.opacity30 {
  opacity: 0.3;
}

/* line 177, ../sass/style.sass */
[data-index="0"] {
  margin-top: 0;
}

/* line 184, ../sass/style.sass */
.imageBox {
  box-shadow: 1px 5px 6px rgba(176, 170, 165, 0.7);
  background-color: white;
  padding: 1px 0;
  border: 1px dotted outset;
  overflow: auto;
  max-height: 600px;
  position: relative;
  z-index: 1;
}
/* line 194, ../sass/style.sass */
.imageBox p {
  color: red;
}

/* line 197, ../sass/style.sass */
.comment {
  -webkit-transform: translateY(-250px);
  color: #666666;
  font-family: helvetica;
  margin: 0;
  padding: 10px;
  max-height: 250px;
  overflow: auto;
  background-color: white;
}
/* line 211, ../sass/style.sass */
.comment p {
  display: inline;
}
/* line 213, ../sass/style.sass */
.comment span {
  display: block;
}
/* line 215, ../sass/style.sass */
.comment a {
  color: #666666;
}
/* line 217, ../sass/style.sass */
.comment.drop {
  -webkit-transform: translateY(0px);
  transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1) 1700ms;
  -webkit-transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1) 1700ms;
  -moz-transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1) 1700ms;
}

/* line 225, ../sass/style.sass */
.opacity {
  opacity: 0;
}

/* line 228, ../sass/style.sass */
[data-column="0"] {
  left: 0;
}

/* line 231, ../sass/style.sass */
[data-column="1"] {
  left: 340px;
}

/* line 234, ../sass/style.sass */
[data-column="2"] {
  left: 680px;
}

/* line 237, ../sass/style.sass */
[data-column="3"] {
  left: 1020px;
}

/* line 240, ../sass/style.sass */
[data-column="4"] {
  left: 1360px;
}
