@import "reset"


$background: rgb(206, 227, 248)

.cf:before 
  content: " " /* 1 */
  display: table /* 2 */

.cf:after 
  @extend .cf:before
  clear: both

body
  background-color: $background
  text-align: center

#topBar
  height: 45px
  width: 100%
  overflow: hidden
  // height: 50px
  background-color: white
  text-align: left
  font-size: 2em
  font-family: helvetica
  // padding: 0
  aside
    position: absolute
    right: 1px
    top: 5px
    color: red
  div
    float: left
    vertical-align: bottom
    position: relative
    height: 45px
    text-align: center
    cursor: pointer
    margin: 0
    color: #666
    font-size: .5em
    // color: buttontext
    padding: 0 .25em
    border-right: 1px #999 dotted
    border-left: 1px #999 dotted
    background-color: transparent
    a
      font-size: 12px
      display: inline
    span
      position: relative
      padding-top: 10px
      display: block
      vertical-align: baseline
    // box-sizing: border-box
  h1
    padding: .25em
    display: inline-block
    float: left
    cursor: pointer
    color: red

  


#wrapper
  display: inline-block
  position: relative
  width: 100%
  height: 2421px



.column
  // bottom: 1386px
  width: 320px
  list-style-type: none
  margin: 0 10px 
  position: absolute
  /*background-color: black;*/
  /*height: 500px;*/
  .sticky-wrapper
    display: inline-block
    width: 320px
  .inputBox
    z-index: 1
    top: 0
  .stuck
    position: fixed
  .stack
    transition: all 900ms ease-out

    position: relative
    opacity: 0
    // z-index: -1
    -webkit-transform : translateY(1500px)

  .launch
    -webkit-transform : translateY(0px)
    transition: all 1500ms ease-out
    opacity: 1


  h1
    font-size: 1.5em
    padding: 0 10px
    text-align: center
    display: inline-block
  .r
    font-size: 2em
    // width: 70px
    // display: inline-block
    padding: 0 .2em 0 0
  input
    font-size: 2em
    width: 287px
    // z-index: 1

.article
  transition: all 850ms ease-out

  background-color: rgb(255, 255, 255)  
  width: 100%
  margin: 20px 0
  color: #666
  word-wrap: break-word
  // overflow: auto
  img
    width: 100%
.opacity30
  opacity: .3
[data-index = "0"]
  margin-top: 0

// .article img
//   width: 100%
//   /*max-height: 200px;*/

.imageBox
  border-radius: 5px
  padding: 10px
  border: 1px dotted outset
  overflow: auto
  max-height: 600px
  p
    color: red

.comment
  // overflow: auto
  color: black
  margin: 0
  padding: 10px
  max-height: 250px
  overflow: auto

  p
    display: inline
  span
    display: block

.opacity
  opacity: 0

[data-column = "0"]
  left: 0

[data-column = "1"]
  left: 340px

[data-column = "2"]
  left: 680px

[data-column = "3"]
  left: 1020px

[data-column = "4"]
  left: 1360px





