@import "reset"


$background: rgb(206, 227, 248)
$grey: #666666
$lightgrey: fade-out(#666666,.85)
$shadow: fade-out(#b0aaa5,.3)
$white: fade-out(white,0)
$invisible: fade-out(white,1)

.cf:before 
  content: " " /* 1 */
  display: table /* 2 */

.cf:after 
  @extend .cf:before
  clear: both

body
  background-color: $lightgrey
  text-align: center

#topBar
  height: 45px
  width: 100%
  overflow: hidden
  // height: 50px
  background-color: white
  text-align: left
  font-size: 2em
  font-family: helvetica
  // padding: 0
  aside
    position: absolute
    right: 1px
    top: 5px
    color: red
  div
    float: left
    vertical-align: bottom
    position: relative
    height: 45px
    text-align: center
    cursor: pointer
    margin: 0
    color: #666
    font-size: .5em
    // color: buttontext
    padding: 0 .25em
    border-right: 1px #999 dotted
    border-left: 1px #999 dotted
    background-color: transparent
    &:hover
      box-shadow: inset 0 -11px 15px -5px $grey
    a
      color: $grey
      text-decoration: none
      font-size: 12px
      display: inline
      &:hover
        text-decoration: underline
    span
      position: relative
      padding-top: 10px
      display: block
      vertical-align: baseline
    // box-sizing: border-box
  h1
    padding: .25em
    display: inline-block
    float: left
    cursor: pointer
    color: red
    font-family: baskerville

  


#wrapper
  display: inline-block
  position: relative
  width: 100%
  height: 2421px



.column
  // bottom: 1386px
  width: 320px
  list-style-type: none
  margin: 0 10px 
  position: absolute
  /*background-color: black;*/
  /*height: 500px;*/
  .sticky-wrapper
    display: inline-block
    width: 320px
  .inputBox
    box-shadow: 1px 1px 6px #b0aaa5
    border-radius: 3px
    margin: 10px 0
    z-index: 1
    top: 0
    background-color: $white
    input
      font-size: 2em
      width: 280px
      margin: 0
      float: right
    span.r
      font-size: 2em
      padding: 6px
      float: left

  .stuck
    position: fixed
    // background-color: $invisible
    opacity: .7
    &:hover
      opacity: 1
    // input
    //   opacity: .6
    // input:hover
    //   opacity: 1
    // input:focus
    //   opacity: 1
    // span
    //   opacity: .6
  .stack
    transition: all 900ms ease-out

    position: relative
    opacity: 0
    // z-index: -1
    -webkit-transform : translateY(1500px)
    -moz-transform: translateY(1500px)
    transform: translateY(1500px)
  .launch
    -webkit-transform : translateY(0px)
    -moz-transform: translateY(0px)
    transform: translateY(0px)
    transition: all 1500ms ease-out
    opacity: 1

  #title
    text-decoration: none
    color: #666
    font-size: 1.5em
    background-color: $white
    // padding: 10px 0 10px 0
    padding: 10px
    width: 100%
    box-sizing: border-box
    text-align: center
    display: inline-block
    position: relative
    z-index: 1
    // box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33)

    &:hover
      text-decoration: underline
      cursor: pointer

.article
  transition: all 850ms ease-out
  overflow: hidden
  background-color: $invisible  
  width: 100%
  margin: 20px 0
  color: #666
  word-wrap: break-word
  position: relative
  border-radius: 3px
  z-index: 1
  box-shadow: 1px 1px 6px #b0aaa5
  img
    width: 100%
.opacity30
  opacity: .3
[data-index = "0"]
  margin-top: 0

// .article img
//   width: 100%
//   /*max-height: 200px;*/

.imageBox
  box-shadow: 1px 5px 6px $shadow
  background-color: $white
  padding: 1px 0
  // padding-top: 10px
  border: 1px dotted outset
  overflow: auto
  max-height: 600px
  position: relative
  z-index: 1
  p
    color: red

.comment
  // overflow: auto
  // -webkit-transition: 
  -webkit-transform: translateY(-250px)
  // transition: all 9500ms ease-out
  // transition: all 2500ms ease-out 3000ms

  color: $grey
  font-family: helvetica
  margin: 0
  padding: 10px
  max-height: 250px
  overflow: auto
  background-color: $white
  p
    display: inline
  span
    display: block
  a
    color: $grey
  &.drop
    -webkit-transform: translateY(0px)
    transition: all 800ms cubic-bezier(0.075, 0.82, 0.165, 1) 1700ms


.opacity
  opacity: 0

[data-column = "0"]
  left: 0

[data-column = "1"]
  left: 340px

[data-column = "2"]
  left: 680px

[data-column = "3"]
  left: 1020px

[data-column = "4"]
  left: 1360px





